.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-60 { margin-left: 60px; }
.mb-0 { margin-bottom: 0px; }
.mb-10 {margin-bottom: 10px!important; }
.mb-20 { margin-bottom: 20px; }
.mr-5 { margin-right: 5px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }

.mlb-10 { margin-left: 10px; margin-bottom: 10px; }

.padding-30 { padding: 30px; }

.clear-5 { clear: both; margin-bottom: 5px; }
.clear-10 { clear: both; margin-bottom: 20px; }
.clear-20 { clear: both; margin-bottom: 20px; }
.clear-10-divider { clear: both; margin-bottom: 10px; height: 1px; width: 100%; background-color: #dedede; }

.vertical-align-text-top {
    vertical-align: text-top!important;
}

.relative {
    position: relative;
}

.width-100 {
    width: 100%;
}

.width-half 
{
    width: 50%;
}

.text-red {
    color: #f22613;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.display-none {
    display: none;
}

.hidden {
    display: none;
}

.progress {
    margin-bottom: 0px!important;
}

.container-900 {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.page {
    background: #fff;
    border: 1px solid #DBDFD6;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

.btn,a {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out
}

.btn.btn-default {
    background-color: #fff!important;
    color: #333!important;
    border: 1px solid #efefef!important;
}

.btn.btn-default:hover {
    background-color: #efefef!important;
}

.btn.btn-primary {
    background-color: #303641!important;
    border-color: #303641!important;
}

.btn.btn-primary:hover {
    background-color: #1f232a!important;
}

.btn.btn-info {
    background-color: #3498db!important;
    border-color: #3498db!important;
}

.btn.btn-info:hover {
    background-color: #2383c4!important;
}

.btn.btn-success {
    background-color: #18bc9c!important;
    border-color: #18bc9c!important;
}

.btn.btn-success:hover {
    background-color: #13987e!important;
}

.btn.btn-warning {
    background-color: #f9bf3b!important;
    border-color: #f9bf3b!important;
}

.btn.btn-warning:hover {
    background-color: #f39c12!important;
}

.btn.btn-danger {
    background-color: #f22613!important;
    border-color: #f22613!important;
}

.btn.btn-danger:hover {
    background-color: #d91e18!important;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.ke-toolbar-icon {
    color: #999999!important;
}

.ke-toolbar-icon:hover {
    color: #32312f!important;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    /*width: 100%;*/
    /*height: 40px;*/
    
    margin-left: -15px;
    margin-top: -15px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    border-color: transparent #2196f3 transparent #2196f3;
    border-style: solid;
    border-width: 5px;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-animation: reverse-rotation 1s linear infinite;
    -webkit-animation: reverse-rotation 1s linear infinite;
    animation: reverse-rotation 1s linear infinite;
}

/* blueimp */
#links {
    padding-left: 94px;
}

table.dataTable {
    border: 1px solid #f1f1f1;
}

table tbody td {
    vertical-align: middle!important;
}

.right {
    float: right;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 0!important;
}

.form-control {
    height: 24px!important;
    padding: 0 20px!important;
}

.input-group-addon {
    padding: 3px 10px!important;
}

.dialog .input-group-addon {
    padding: 4px 10px!important;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr.odd:hover > .sorting_1,
table.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
    background-color: #0091ca!important;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
table.dataTable.display tbody tr.odd:hover,
table.dataTable.display tbody tr.even:hover {
    background-color: #0091ca!important;
}

table.second-level.dataTable.display tbody tr:hover > .sorting_1,
table.second-level.dataTable.display tbody tr.odd:hover > .sorting_1,
table.second-level.dataTable.display tbody tr.even:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
table.second-level.dataTable.order-column.hover tbody tr.odd:hover > .sorting_1,
table.second-level.dataTable.order-column.hover tbody tr.even:hover > .sorting_1 {
    background-color: #eaeaea!important;
}

table.second-level.dataTable.hover tbody tr:hover,
table.second-level.dataTable.hover tbody tr.odd:hover,
table.second-level.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
table.second-level.dataTable.display tbody tr.odd:hover,
table.second-level.dataTable.display tbody tr.even:hover {
    background-color: whitesmoke!important;
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

/* weather */

.weather-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.weather-card {
    /*margin: 20px 5px 20px 0px;*/
    /*border-radius: 20px;*/
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(50, 50, 50, 0.1);
    -webkit-animation: appear 500ms ease-out forwards;
    animation: appear 500ms ease-out forwards;
}

.weather-card h2 {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 70px;
    color: #B8B8B8;
    bottom: 30px;
    left: 35px;
    opacity: 0;
    -webkit-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    -webkit-animation: title-appear 500ms ease-out 500ms forwards;
    animation: title-appear 500ms ease-out 500ms forwards;
}

.weather-card p {
    position: absolute;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: #d2d2d2;
    bottom: 0px;
    left: 35px;
    -webkit-animation: title-appear 1s ease-out 500ms forwards;
    animation: title-appear 1s ease-out 500ms forwards;
}

.weather-icon {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    float: right;
    margin: 30px 30px 0 0;
    -webkit-animation: weather-icon-move 5s ease-in-out infinite;
    animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
    background: #FFCD41;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
    -webkit-animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
    animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@-webkit-keyframes light {
    from {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
    }
    to {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
    }
}

@keyframes light {
    from {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
    }
    to {
        box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
    }
}

.cloud {
    margin-right: 60px;
    background: #e1e1e1;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    box-shadow: #e1e1e1 24px -6px 0 2px, #e1e1e1 10px 5px 0 5px, #e1e1e1 30px 5px 0 2px, #e1e1e1 11px -8px 0 -3px, #e1e1e1 25px 11px 0 -1px;
}

.cloud:after {
    content: "";
    position: absolute;
    border-radius: 10px;
    background-color: transparent;
    width: 4px;
    height: 12px;
    left: 0;
    top: 31px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation: rain 800ms ease-in-out infinite alternate;
    animation: rain 800ms ease-in-out infinite alternate;
}

@-webkit-keyframes rain {
    from {
        box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
    }
    to {
        box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
    }
}

@keyframes rain {
    from {
        box-shadow: #2092A9 8px 0px, #2092A9 32px -6px, #2092A9 20px 0px;
    }
    to {
        box-shadow: #2092A9 8px 6px, #2092A9 32px 0px, #2092A9 20px 6px;
    }
}

@-webkit-keyframes weather-icon-move {
    50% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes weather-icon-move {
    50% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}


@-webkit-keyframes appear {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    75% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes appear {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    75% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes title-appear {
    from {
        opacity: 0;
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes title-appear {
    from {
        opacity: 0;
        -webkit-transform: translateX(150px);
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

/*html::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background:#0091ca;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 0;
}*/


/* bootstrap-dialog */
.bootstrap-dialog.type-success .modal-header {
    background-color: #18bc9c!important;
}

td.details-control {
    background: url('../../assets/img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../assets/img/details_close.png') no-repeat center center;
}
