 /*init */
body { background: #fff; }

* { -webkit-box-sizing: border-box; 
-moz-box-sizing: border-box;
box-sizing: border-box; z-index: 0; outline: none; padding:0px; margin:0px; font-size:12px; font-family: Helvetica, Georgia, 'Hiragino Sans GB', Arial, 'Microsoft YaHei', "微软雅黑", STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif; outline: none; 
}


#wrapper {
    width: 100%;
}

.wrapper-edit {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}

/* navigation */

.navbar {
  border: 0 !important;
  position: relative;
  margin-bottom: 0 !important;
}

.navbar .navbar-header {
  min-width: 250px;
  background-color: #e9e9e9;
}

.navbar .navbar-brand {
  font-size: 16px;

}

.navbar-toggle {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #303641!important;
    margin-left: 15px;
}

.navbar-toggle:hover {
    background-color: #1f232a!important
}

.navbar-default {
  background-color: #0091ca !important;
  border-color: #fff !important;
}

.navbar-fixed-top { 
  border-width: 0 0 0 !important;
}

.navbar .nav {
  margin: 0;
  padding: 0;
  height: 50px;
  line-height: 30px;
}

@media screen and (min-width: 768px) {
  .navbar-right {
    float: right !important;
    margin-right: 15px;
  }
}

.navbar .nav.navbar-top-links .dropdown-toggle {
  color: #fff;
}

.navbar .nav li .dropdown-toggle:hover {
    text-shadow: none
}

.navbar .nav li .dropdown-toggle i {
    font-size: 18px
}

.navbar .nav li a:hover {
    background-color: transparent!important
}

.navbar .nav .user-img {
    margin-left: 5px;
    display: inline-block
}

.navbar .nav.navbar-top-links > li {
  display: inline-block;
}

.navbar .nav.navbar-top-links li a {
  color: #444;
}

.navbar .nav.navbar-top-links .dropdown-menu {
  padding: 0;
  margin: 0;
}

.dropdown-menu .divider {
  margin: 0 !important;
}

@media screen and (min-width: 768px ) {
  .navbar-top-links .dropdown-alerts, .navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks {
    margin-left: auto;
  }
}

.dropdown-alerts {
  width: 250px;
  margin-top: -1px !important;
}

.navbar .nav.navbar-top-links .dropdown-menu li:not(.divider) {
  padding-top: 5px;
  padding-bottom: 7px;
}

.navbar .nav.navbar-top-links .dropdown-menu li {
  display: block;
}

.d-timeline li.info {
  border-left-color: #3498db!important;
}

.d-timeline li:nth-of-type(2) {
  padding-top: 0!important;
}

.d-timeline li {
  list-style: none;
  border-left: 2px solid #bdc3c7;
  position: relative;
  padding: 20px 20px 15px;
  line-height: 1.42857143!important;
}

.help-block {
  color: #737373;
  margin-bottom: 10px;
  margin-top: 5px;
  display: block;
}

.text-muted {
  color: #777;
}

.badge.badge-notification {
  position: relative;
  top: -10px;
  left: -10px;
  z-index: 1;
  padding: 4px 6px;
  font-size: 10px;
}

.badge.badge-info {
  background-color: #f22613;
}

.dropdown-alerts li {
  font-size: 12px;
  color: #888;
}

.d-timeline li.info .circle {
  background-color: #3498db!important;
}

.d-timeline li .circle {
  position: absolute;
  display: block;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  left: -7px;
}

.navbar .nav.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar .nav.navbar-top-links .dropdown-menu li:hover {
  background-color: #f8f8f8
}

@media screen and (min-width: 768px ){
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #0091ca !important;
}

.navbar .nav.navbar-top-links .dropdown-toggle.user img {
  border: 2px solid #fff;
}

.navbar .nav .user-img {
  margin-left: 5px;
  display: inline-block;
}

.dropdown-user {
  width: 300px;
  padding: 0;
  margin-top: -1px!important;
}

.dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 12px;
}

.dropdown-menu.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both
}


.text-danger {
  color: #f22613!important;
}


.navbar .nav.navbar-top-links .dropdown-menu i {
  color: #353535;
}

.dropdown-menu i {
  font-size: 12px;
  color: #303641;
  width: 25px;
  text-align: center;
}

.navbar .nav li .dropdown-toggle {
  font-weight: 300;
  font-size: 14px;
  text-shadow: 0 2px 0 rgba(0,0,0,.2);
}

#menu.navbar-fixed-side {
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
  #menu.navbar-fixed-side {
    z-index: 1;
    position: fixed;
    width: 250px;
    bottom: 0;
    top: 50px;
    margin-top: 0px;
  }
}

.navbar-collapse {
  padding-left: 0!important;
  padding-right: 0!important;
}


#menu.navbar-default {
  background-color: #fff!important;
  overflow: auto; 
}

#menu::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

#menu .sidebar-user {
  background-color: #303641;
  padding: 15px;
  display: block;
}

#menu li {
  color: #fff;
  font-size: 13px;
  /*border-bottom: 1px solid #ccc;*/
}

#menu li.active > a {
  color: #0091ca!important;
  background-color: #fff;
}

#menu li:hover > a {
  color: #0091ca!important;
  background-color: #fff;
}

#menu li:hover > a > i {
  color: #0091ca;
}

#menu li a {
  color: #666666;
  font-weight: 300;
  font-size: 14px;
  padding: 15px 15px;
}

#menu li .menu-item {
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  display: block;
  padding: 10px 15px;
}

#menu li.active>a .fa.fa-angle-down, #menu li.active>a i {
  color: #0091ca;
}

#menu li .fa-angle-down {
  clear: both;
  float: right;
  color: #666666;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#menu li.active .fa-angle-down.active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}


#menu li a i {
  color: #666666;
  font-size: 16px;
  margin-right: 10px;
}

#menu li .nav-second-level {
  display: none;
}

#menu li .nav-second-level > li {
  background-color: #6e6e6e;
}

#menu li .nav-second-level.active {
  display: block;
}

#menu li .nav-second-level li a {
  color: #fff!important;
  padding-left: 45px;
  font-size: 13px;
}

#menu li .nav-second-level li a:visited {
  background-color: #0091ca;
}

#menu li .nav-second-level li a.active {
  background-color: #0091ca;
}

#menu li .nav-second-level li:hover a {
  background-color: #0091ca;
}

#menu .sidebar-user .user-img {
  width: 65px;
  height: 65px;
  float: left;
  margin-right: 15px;
  margin-top: 5px;
  display: inline-block;
}

#menu .sidebar-user .user-img img {
  box-shadow: 0 0 0 5px rgba(250,250,250,.2);
  padding: 2px;
}

#menu .sidebar-user .user-info {
  display: inline-block;
  color: #fff;
  margin-left: 15px;
  padding-top: 15px;
}

#menu .sidebar-user .user-info .user-greet {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

#menu .sidebar-user .user-info .user-name {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  #content-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
  }
}

#content-wrapper {
    background-color: #fff;
}

.content-header {
  padding: 41px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.content-header .heading {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 5px;
  color: #333;
  display: inline-block;
  margin-top: 0;
}

.operation-button .panel-body {
  padding-left: 0!important;
  padding-right: 0!important;
}

.breadcrumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  color: #525252;
  padding-left: 30px;
  margin-bottom: 0!important;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .fixed-navbar {
    padding-top: 50px !important;
  }
}

.container-fluid {
  padding: 30px!important;
  background-color: #fff;
}

.toolbar {
  width: 100%;
  margin-bottom: 20px;
}

.toolbar .toolbar-item {
  display: inline-block;
  margin: 5px 20px;
}

.toolbar .toolbar-item select {
  width: 100px;
  margin-left: 10px;
  height: 24px;
  vertical-align: middle;
  /*border-radius: 0;*/
  /*-webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-appearance: none;*/
}

.form-control:focus {
  border-color: #ccc!important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6)
}

.toolbar .toolbar-item .form-control {
  display: inline-block;
}

.toolbar .toolbar-item input.global {
  width: 150px;
  vertical-align:middle;
}

.toolbar .toolbar-item .input-group-btn {
  display: inline-block;
}

.toolbar .toolbar-item .input-group-btn button {
  height: 24px;
  width: 50px;
  padding: 0;
}

.toolbar .toolbar-item .form-group {
  width: 200px;
  margin-bottom: 0;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.toolbar .toolbar-item .global-search {
  padding: 0;
  font-size: 12px;
  height: 24px;
  width: 30px;
  vertical-align:middle
}

/* dialog */
.dialog {
  padding: 30px;
}

.dialog label {
  text-align: right;
}

.dialog.label-100 label {
  width: 100px;
  text-align: right;
}

.dialog.label-100 .input-group {
  width: 270px;
  vertical-align: middle;
  display: inline-block;
}

.dialog.label-90 label {
  width: 90px;
  text-align: right;
}

.dialog.label-90 textarea {
  width: 175px;
}

.dialog.label-90 .input-group {
  width: 270px;
  vertical-align: middle;
  display: inline-block;
}

.dialog select.width-50 {
  width: 50px;
}

.dialog input {
  padding: 0 0 0 10px!important;
  border-radius: 0;
}

.dialog textarea {
  height: 100px!important;
  vertical-align: top;
}

.dialog .form-group {
  vertical-align: middle;
}

.dialog .form-control {
  display: inline-block!important;
  vertical-align: middle!important;
  width: auto!important;
}

.layui-layer-title {
  background-color: #fff!important;
  padding: 0!important;
}

.layui-layer-iframe iframe::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background:#fff;
}

.layui-layer-iframe iframe::-webkit-scrollbar-thumb{
    background: #666666;
    opacity: .8;
    border-radius: 0;
}

.department-position a {
  color: #fff;
}

.department-position a:hover {
  color: #fff;
}

.department-position .label-info {
  display: inline-block !important;
  margin-bottom: 5px;
}

.tag {
    cursor: pointer;
}

.label-success.label-plus {
  display: none;
}

.label-success.label-plus.on {
  display: inline-block;
}

.reply-block {
  width: 100%;
  height: 20px;
  padding-left: 40px;
}

.container-80 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.community-header, .guide-header {
  width: 100%;
  min-height: 80px;
  text-align: center;
  font-size: 30px;
  color: #666666;
  line-height: 60px;
}

.community-header textarea, .guide-header textarea {
  display: block;
  width: 80%;
  padding: 29px 0;
  margin: 0 auto;
  border: 0;
  font-size: 22px;
  height: 22px;
  min-height: 22px;
  line-height: 22px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  resize: none;
}

.service-header {
  width: 100%;
  min-height: 60px;
  text-align: center;
  font-size: 30px;
  color: #666666;
  line-height: 60px;
  border-bottom: 1px solid #ececec;
}

.service-info {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ececec;
}

.service-repair-details {
  position: relative;
  width: 100%;
  padding: 10px 20px;
}

.service-info-block {
  display: inline-block!important;
  width: 22%;
  text-align: left;
  padding-left: 4em;
}

.service-info-block img {
  width: 100%;
  height: 100%;
}


.community-item {
  padding: 10px 0px;
  display: inline-block;
  vertical-align: top;
}

.checkbox-block {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
}

.checkbox-block .checkbox-item {
  position: relative;
}

.checkbox-block .checkbox-item-second {
  display: none;
}


.checkbox-block .checkbox-item-second.on {
  display: block;
  padding-left: 40px;
}

.checkbox-block .checkbox-item-second label {
  font-weight: 100!important;
}

.chart {
  height: 300px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;

}

input[for="phoneNo"], button[for="phoneNo"] {
}

.push-msg {
  padding: 30px;
}

/* new login-page*/

.login-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 10%;
    background-color: #fff;
}

.login-wrapper .login-header {
    height: 50px;
}

.login-wrapper .login-block .login-divider {

    background-color: #f1f1f1;
    width: 70%;
    height: 1px;
    margin: 0 auto;
}

.login-wrapper .login-block {
    position: relative;
    width: 100%;
    height: 550px;
    padding-top: 100px;
}

.login-wrapper .login-block .login-bg {
    width: 100%;
    height: 550px;
    background-image: url(../img/laptop.png);
    background-position: center -70px;
    background-repeat: no-repeat;
    background-size: 512px 512px;

}

.login-wrapper .login-block .login-form {
    padding: 30px 0;
    overflow: hidden;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #2196f3;
}

.login-wrapper .login-block .login-form .login-title {
    font-size: 20px;
    color: #666666;
}

.login-wrapper .login-block .login-form .alert {
    margin-bottom: 0;
    margin-top: 10px;
    display: none;
}

.login-wrapper .login-block .login-form .alert.on {
    display: block;
}

footer {
    position: relative;
    margin-top: 40px;
    bottom: 20px;
    text-align: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    footer {
        position: relative;
        margin-top: 0;
        bottom: 20px;
        text-align: center;
        width: 100%;
    }
}

/* login-page */
